@model EmployeeForm.Core.Model.EmployeeDetails

@{
    Layout = null;
}
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" />
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/jquery.validation/1.16.0/jquery.validate.min.js"></script>
<script src="https://cdn.jsdelivr.net/jquery.validation/1.16.0/additional-methods.min.js"></script>
<script src="https://kit.fontawesome.com/a10c7f6efa.js"></script>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/css/bootstrap-datepicker.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/js/bootstrap-datepicker.min.js"></script>
<link rel="stylesheet" href="~/css/site.css">

<style>
    label {
        color: white;
    }

    option {
        background-color: #215888;
        color: white;
    }

    span {
        color: #ffc224e0;
    }

    .error {
        color: #ffc224cf;
        padding-bottom: 10px;
    }
</style>
<div class="wrapper" id="clear">

    @using (Html.BeginForm("CreateForm", "Employee", FormMethod.Post, new { @id = "signupform", autocomplete = "off" }))
    {
        <div class="h5 font-weight-bold text-center mb-3">EMPLOYEE DETAILS</div>
        @Html.HiddenFor(p=>p.EmployeeId,new{@id="Employeeid"})
        <label class="form-label">First Name<span>*</span></label>
        <div id="errors">
            <div class="form-group d-flex align-items-center">
                <div class="icon"><i class=" far fa-user"></i></div>
                @Html.TextBoxFor(p => p.FirstName,  new {@class="form-control form-control-md",@id="firstname" ,placeholder = "First Name"})
            </div>
        </div>
        <div id="errors">
            <label class="form-label">Last Name<span>*</span></label>
            <div class="form-group d-flex align-items-center">
                <div class="icon"><i class=" far fa-user"></i></div>
                @Html.TextBoxFor(p => p.LastName,  new {@class="form-control form-control-md",@id="lastname" ,placeholder = "Last Name"})
            </div>
        </div>
        <div id="errors">
            <label class="form-label">Date of Joining<span>*</span></label>
            <div class="form-group d-flex align-items-center">
                <div class="icon"><i class="fa fa-calendar"></i></div>
                @Html.TextBoxFor(p => p.DateStr,  new { @class="form-control form-control-md",placeholder = "yyyy-mm-dd" ,id="datepicker"})
            </div>
        </div>
        <div id="errors">
            <label class="form-label">Age<span>*</span></label>
            <div class="form-group d-flex align-items-center">
                <div class="icon"><i class="fa-solid fa-cake-candles"></i></div>
                @Html.TextBoxFor(m => m.EmployeeAge,new{  @class="form-control form-control-md",placeholder = "Age"})
            </div>
        </div>
        <div id="errors">
            <label class="form-label">Experience<span>*</span></label>
            <div class="form-group d-flex align-items-center">
                <div class="icon"><i class="fa fa-graduation-cap"></i></div>
                @Html.TextBoxFor(m => m.EmployeeExperience,new{  @class="form-control form-control-md",placeholder = "Experience"})
            </div>
        </div>
        <div id="errors">
            <label class="form-label">Contact Number<span>*</span></label>
            <div class="form-group d-flex align-items-center">
                <div class="icon"><i class="fas fa-phone"></i></div>
                @Html.TextBoxFor(m => m.ContactNumber,new{ maxlength = "10",@class="form-control form-control-md",placeholder = "PhoneNumber"})

            </div>
        </div>
        <div id="errors">
            <label class="form-label">Address<span>*</span></label>
            <div class="form-group d-flex align-items-center">
                <div class="icon"><i class="fas fa-map-marker-alt"></i></div>
                @Html.TextBoxFor(m => m.EmployeeAddress,new{  @class="form-control form-control-md",placeholder = "Address"})
            </div>
        </div>
        <div id="errors">
            <label class="form-label">Work Location<span>*</span></label>
            <div class="form-group d-flex align-items-center">
                <div class="icon"><i class="fas fa-map-marker-alt"></i></div>
                @Html.DropDownListFor(m=>m.LocationId, new SelectList(ViewBag.Location, "LocationId", "WorkLocation"), "Select Location", new { @class = "form-control", @id = "Locationid" })
            </div>
        </div>
        <div id="errors">
            <label class="form-label">Password<span>*</span></label>
            <div class="form-group d-flex align-items-center">
                <div class="icon"><i class="fas fa-key"></i></div>
                @Html.PasswordFor(m => m.CreatePassword,new{@class=" form-control form-control-md" ,id="password",placeholder = "password"})
                <div class="icon btn"><i class="fas fa-eye-slash" id="showpassword" onclick="myFunction()"></i></div>
            </div>
        </div>
        <div id="errors">
            <label class="form-label">Confirm Password<span>*</span></label>
            <div class="form-group d-flex align-items-center">
                <div class="icon"><i class="fas fa-key"></i></div>
                @Html.PasswordFor(m => m.ConfirmPassword,new{@class=" form-control input-height-sm " ,id="confirm",placeholder = "Confirm password"})
                <div class="icon btn"><i class="fas fa-eye-slash" id="showpasswords" onclick="myFunction1()"></i></div>
            </div>
        </div>
        <div>
            <button class="btn btn-primary mb-3" id="myButton">Save</button>
        </div>
    }
    <button class="btn btn-primary mb-3" onclick="location.href='@Url.Action("ListForm", "Employee")'">Back to List</button>
</div>

<script>
    $().ready(function () {
        $("#signupform").validate({
            // in 'rules' user have to specify all the constraints for respective fields
            rules: {

                FirstName: {
                    required: true,
                    lettersonly: true,
                },
                LastName: {
                    required: true,
                    lettersonly: true,
                },
                EmployeeAddress: {
                    required: true,
                },
                ContactNumber: {
                    required: true,
                    number: true,
                    maxlength: 10,
                },
                CreatePassword: {
                    required: true,
                    minlength: 5,
                },
                ConfirmPassword: {
                    required: true,
                    minlength: 5,
                    equalTo: "#password" //for checking both passwords are same or not
                },
                LocationId:
                {
                    required: true,
                },
                DateStr: {
                    required: true,
                },
                EmployeeAge: {
                    required: true,
                    number: true,
                },
                EmployeeExperience: {
                    required: true,
                    number: true,
                },
            },
            // in 'messages' user have to specify message as per rules
            messages:
            {
                EmployeeAddress: {
                    required: " Please enter a Address",
                },
                LastName: {
                    required: " Please enter a LastName",
                    lettersonly: "Only alphabets are valid"
                },
                FirstName: {
                    required: " Please enter a FirstName",
                    lettersonly: "Only alphabets are valid"
                },
                DateStr: {
                    required: " Please enter a date",
                },
                ContactNumber: {
                    required: " Please enter a Phone Number",
                    maxlength: " Your number must not exceed 10 characters",

                },
                CreatePassword: {
                    required: " Please enter a password",
                    minlength: " Your password must be consist of at least 5 characters"
                },
                ConfirmPassword: {
                    required: " Please enter a password",
                    minlength: " Your password must be consist of at least 5 characters",
                    equalTo: " Please enter the same password as above"
                },

                EmployeeWorkLocation: {
                    required: "please select a field"
                },
                EmployeeAge:
                {
                    required: "please enter age"
                },
                EmployeeExperience:
                {
                    required: "please enter Experience"
                }
            },
            errorPlacement: function (error, element) {

                if (element.is(":text") || element.is(":password") || element.is("#Locationid")) {
                    error.insertAfter(element.parents('#errors'));
                }
                else { // This is the default behavior
                    error.insertAfter(element);
                }
            }
        });
        $('#datepicker').datepicker({
            format: 'yyyy-mm-dd',
        });
        var eid = $("#Employeeid").val();
        if (eid != 0) {
            debugger;
            $("#myButton").html("Update");
        }

    });
    function myFunction() {
        var password = document.getElementById('password');
        var passshow = document.getElementById('showpassword');
        if (password.type == 'password') {
            password.type = 'text';
            passshow.className = 'fa fa-eye';
        }
        else {
            password.type = 'password';
            passshow.className = 'fa fa-eye-slash';
        }
    }
    function myFunction1() {
        var password = document.getElementById("confirm");
        var passshow = document.getElementById('showpasswords');
        if (password.type === "password") {
            password.type = "text";
            passshow.className = 'fa fa-eye';
        } else {
            password.type = "password";
            passshow.className = 'fa fa-eye-slash';
        }
    }
</script>

